.nav-menu {
    position: relative;
    z-index: 1000;
}

#main_container {
    width: 1200px;
    height: 95vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#left_container {
    width: 80%;
    height: 80vh;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#left_container,
#right_container {
    flex : 1;
    flex-direction: column;
    display: flex;
    padding: 10px; 
    height: 100%; 
    align-items: center;
    justify-content: flex-start;
}

#procedure_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 70%;
    overflow-y: auto;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}

#procedure_title {
    font-size: 20px;
    padding: 10px; 
    margin: 5px;
}

.container {
    display: flex;
}

.procedure {
    display: none;
    margin: 15px 0;
}

.procedure.active {
    display: block;
    margin: 5px 0;
    padding: 5px;
}
.procedure.active span {
    background-color: #FFD074;
    padding: 5px;
    display: inline-block; 
    border-radius: 5px;
}

#animation_container {  
    width: 100%;
    height: 80%;
    margin-bottom: 20px; 
}

#right_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#right_container .controlPanel {
    margin-top: auto;
    padding-left: 10px;
    padding-bottom: 10px;
}

.controlPanel {
    flex-shrink: 0;
}

#button_controls {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}

#button_controls,
#right_container .controlPanel {
    margin-top: auto;
    margin-bottom: 10px; 
}

#extra-button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}

#start, #play-all, #next, #prev, #extra-button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4B8EDE;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: 0.4s;
}

#start:hover, #play-all:hover, #next:hover, #prev:hover, #extra-button:hover {
    background-color: #2c99ce;
}

#icon_container {
    display: flex; 
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#icon_container img, #icon_container button {
    flex: 1;    
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#tooltip_display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin: 5px;
    word-wrap: break-word;
    display: flex;
}

#tooltip_display .tooltip-row {
    display: flex;     
    width: 100%;
}

#tooltip_display .tooltip-row .tooltip-column:first-child {
    width: 40%; 
}

#tooltip_display .tooltip-row .tooltip-column:last-child {
    width: 60%; 
}

#tooltip_display #tooltip-image { 
    width: 100%;
    height: auto;
    object-fit: cover;
}

#tooltip_display #tooltip-text {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
}

#tooltip_display #tooltip-image,
#tooltip_display #tooltip-text {
    width: 70%; 
}

/* Large screens */
@media (min-width: 1024px) {
    #main_container {
        max-height: 90vh; 
    }
}

/* Change to column on screens smaller than 600px */
@media screen and (max-width: 600px) {
    #main_container,
    #left_container,
    #right_container,
    #animation_container,
    #procedure_container,
    #button_controls {
        width: 90%; 
    }

    #start, #play-all, #next, #prev {
        font-size: 1rem; 
        padding: 12px 24px; 
    }

    #procedure_container,
    #button_controls,
    #procedure_title {
        font-size: 1rem; 
        padding: 1rem; 
        margin: 0.5rem;
    }

    #extra-button {
        font-size: 10px; 
        padding: 10px; 
    }

    * {
        box-sizing: border-box;
    }
    
    #main_container {
        flex-direction: column;
    }

    #left_container,
    #right_container {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #button_controls {
        margin-bottom: 20px;
    }

    #button_controls button {
        font-size: 12px;
        padding: 5px;
        margin: 2px;
    }
    
    #left_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #tooltip_display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;        
    }

    .tooltip-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tooltip-image,
    #tooltip-text {
        width: 100%;        
        height: auto;
    }

    #tooltip_display .tooltip-row .tooltip-column:last-child {
        width: 100%; 
    }

    #procedure_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 5px;
        margin: 2px;
        text-align: justify;              
    }

    #procedure_title {
        font-size: 16px;
        padding: 5px;
        margin: 2px;
    }

    #animation_container {
        margin-top: 40px;
    }
}